* {
	
}

.wrapper {
	
}

.preheader {
	height: 50px;
	margin: auto;
	background-color: #1f1f1f;
	font-family: Arial;
	text-transform: uppercase;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	font-family: 'Oswald', sans-serif;
}

.preheader-main {
	margin: auto;
	width: 1180px;
	display: flex;
	justify-content: space-between;
}

.preheader_left {
	display: flex;
	justify-content: space-between;
	width: 450px;
}

.preheader-right {
	display: flex;
	justify-content: space-between;
	width: 180px;
}

.phone-a {
	color: white;
	text-decoration: none;
}

.txt-a {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid #f1176e;;
	
}

.cont-a {
	color: white;
	text-decoration: none;
}

.lang-a	{
	color: white;
	text-decoration: none;
}

.login-a {
	color: white;
	text-decoration: none;
}

header {
	border-bottom: 1px solid #cacaca;
}

.header-main {
	width: 1180px;
	height: 130px;
	margin: auto;
	display: flex;
	align-items: center;
	font-family: 'Oswald', sans-serif;
}

.logo {
	
}

.logo-header {
	
}

.catalog {
	font-size: 19px;
	font-weight: bold;
	line-height: 30px;
	margin-top: 10px;
    margin-left: 90px;
	border-bottom: 1px solid #f1176e;
}

.header-catalog {
	text-decoration: none;
	text-transform: uppercase;
	color: #1f1f1f;
}

.search-icon {
	outline: none;
    border: none;
    background-color: transparent;
    float: right;
    position: relative;
    top: 9px;
    right: 40px;
}

.korzina {
	font-size: 19px;
	font-weight: bold;
	line-height: 30px;
	display: flex;
	margin-left: 220px;
	margin-top: 10px;
}

.korzina-a {
	text-decoration: none;
	text-transform: uppercase;
	color: #1f1f1f;
}

.korzina-icon {
	margin-right: 15px;
	margin-top: 5px;
}

input {
	border: 1px solid gray;
    height: 40px;
    width: 400px;
    font-size: 14px;
    min-height: 30px;
    border-radius: 25px;
    padding-right: 20px;
    padding-left: 20px;
    outline: none;
	
}

.search {
	margin-left: 100px;
	margin-top: 10px;
}

footer {
	background-color: #1f1f1f;
	height: 350px;
	font-family: 'Oswald', sans-serif;
	
}

.footer-upper {
	width: 1180px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top: 75px;
}

.upper-left {
	display: flex;
	width: 475px;
	justify-content: space-between;
}

.left-left {
	display: flex;
	flex-direction: column;
}

.left-right {
	display: flex;
	flex-direction: column;
}

.upper-right {
	
}

.right-phone {
	font-size: 24px;
}

.red {
	color: #f1176e;
}

.right-social {
	display: flex;
	margin-left: 75px;
}

.social-icon {
	margin-top: 20px;
	margin-left: 10px;
}

.ft-txt {
	color: white;
	padding-bottom: 12px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
}

.footer-down {
	width: 1180px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	color: #a2a2a2;
	text-transform: uppercase;
	margin-top: 107px;
	
}

.down {
	color: #a2a2a2;
	text-decoration: none;
}

.phone {
	text-decoration: none;
	color: white;
}

.main {
	font-family: 'Oswald', sans-serif;
	width: 1180px;
	margin: auto;
}

.upper-main {
	padding-bottom: 20px;
}

.main-items {
	
}

.main-item {
	width: 1030px;
	display: flex;
	padding-bottom: 55px;
	margin-bottom: 55px;
	justify-content: space-between;
}

.main-item-last {
	width: 1030px;
	display: flex;
	padding-bottom: 55px;
	margin-bottom: 55px;
	justify-content: space-between;
}

.main-a {
	color: #cacaca;
	text-decoration: none;
}

h1 {
	font-family: 'Playfair Display regular', serif;
	font-style: italic;
	line-height: 28px;
	font-weight: 500;
	font-size: 60px;
}

.left-item {
	width: 545px;
}

.right-item {
	width: 370px;
}

.item-txt {
	font-family: 'Playfair Display regular', serif;
	font-style: italic;
	font-size: 40px;
	margin: 0px;
}

.item-up {
	
}

.up-href {
	background-color: #ffffff;
    margin-top: -11px;
    width: 65px;
    padding-left: 10px;
    margin-left: -10px;
}

.item-head {
	font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
}

.shops-head {
	font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.item-main {
	font-size: 14px;
}

.shops-footer {
	font-size: 14px;
}

.tarif-a {
	text-decoration: none;
}

.main-footer-item {
	padding: 0px;
	margin-left: 20px;
}

.footer-item {
	font-size: 14px;
	margin-bottom: 10px;
	color: #f22e7c;
}

.item-color {
	color: #1f1f1f;
}
